<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool SUVs</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    <%- include('partials/navbar', {page: '/suv/addModel' }) %>
    <h1>Add SUV Model</h1>
    <form action="/suv/addModel" method="POST">
        <label for="model">Model Name:</label>
        <input type="text" id="model" name="model" required><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br>

        <label for="type">Type:</label>
        <select name="type" required>
            <option value="Compact">Compact</option>
            <option value="Mid-size">Mid-size</option>
            <option value="Luxury">Luxury</option>
        </select><br>

        <button type="submit">Add Model</button>
    </form>
</body>
</html>
